@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.teacher-mgmt-bottom-section {
    /* background-color: lightpink; */
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: Chakra;
    color: white;
}

.teacher-mgmt-bottom-section-left {
    flex: 1; /* Makes each item take up equal space */
    margin: 0 10px; /* Optional: Adds some spacing between the items */
    height: 200px; /* Adjust based on your requirement */
    /* background-color: lightblue;  */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds some depth */
}

.teacher-mgmt-bottom-section-right {
    flex: 1; /* Makes each item take up equal space */
    margin: 0 10px; /* Optional: Adds some spacing between the items */
    height: 200px; /* Adjust based on your requirement */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds some depth */
}

.add-teacher-card {
  /* border: 1px solid #ccc; */
  padding: 3px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-header {
    display: flex;
    flex: 1;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.body-left {
    display: flex;
    flex-direction: column;
    flex:1
}

.body-right {
    display: flex;
    flex: 1;

    padding-right: 10px;
    padding-left: 10px;
    height: 40px;
    width: 60px;
}

.body-left-top {
    display: flex;
    flex: 1
}

.body-left-top {
    display: flex;
    flex: 1
}

.input-fields {
    font-family: Chakra;
}
  
.add-teacher-button {
    display: flex;
    align-self: center;
    height: 40px;
    width: 150px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    font-family: Chakra;
    color: white;
    font-size: 20px;
    transition: all 235ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: rgba(0,0,0,0.3);
}


.add-teacher-button:hover {
    box-shadow: rgba(117, 114, 114, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
.add-teacher-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
  